/* 多个div在父div一行排列 */
.child_div { display:inline-block; }

/* div 居中 */
.div {  margin-left: auto;  margin-right: auto; }

/* 《写给大家看的CSS书》笔记 */
/*   1, CSS支持属性选择符
     2, 使用em指定字体相对大小。使用vertical-align属性键和sub,sup,top标签名等来渲染数学里的上标或下标。
     3, text-transform属性做文本大小写形式。
     4, 垂直的margin相同平级元素折叠，而水平则不会。
     5, float使之后的元素上浮。
     6, 如果并列元素都设置float，就会生成分栏。clear:both,left,right属性用来清除浮动。
     7, position属性，用top,left,bottom,right来移动。
         static是默认值。
         relative是相对自身本来应该显示的位置。
         absolute以祖先relative的div为绝对定位，默认是body。
         fixed是相对于浏览窗口，用于做导航条。
     8, div width 表示border内的和包含padding的宽度。
     9, 负外边距解决三栏流动式布局。*/